.subjective {
  color:rgb(237,27,36);
}
*{
  -webkit-tap-highlight-color: rgba(0,0,0,0); /* 去除a标签在移动端点击时的高亮 */
}
a{
  text-decoration: none; /* 去除a标签默认下划线 */
}

/* 高亮搜索词 */
em{
  color: #f25d8e;
  font-style: normal;
  font-weight: 400;
}