@color:rgb(237,27,36);
.img{
    margin: 10px;
    padding-right: 50px;
    width: 93vw;
}

.weui-panel__hd{
    text-align: center;
    // font-size: 30px;
    // overflow: hidden;
}
#backBtn{
    position: absolute;
    left: 16px;
    top: 13px;
    font-size: 20px;
    
}

.img{
    margin: 10px;
    padding-right: 50px;
    width: 93vw;
}
.weui-cells__title{
    color: #000 !important;
    font-weight: 500 !important;
    font-size: 17px !important;
}
